# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/

# Docker
*.tar
*.tar.gz

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
*.crt
